* {
    box-sizing: border-box;
}

body {
    font-size: 13px;
    line-height: 18px;
    font-family: 'Hiragino Kaku Gothic ProN', 'Century Gothic', monospace, sans-serif;
    background: #ffffff;
    color: #535f6b;
}

strong, b { font-weight: bold; }
em, i { font-style: italic; }
object { display: block; }
.once { clear: left; }
.clL { clear: left; }


.mejs-container .mejs-controls { visibility:hidden !important; }

.top {
    min-height: 30px;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 0px 30px 0px 30px;
    border: 0.1px solid gray;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}


#container {
    min-height: 200px;
    padding: 50px;
}

#container .image-container {
    vertical-align: middle;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}


#container img {
    padding: 10px;
    vertical-align: middle;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}