#names {
          width: 100%;
          height: 25%;
          float: left;
          padding: 50px;
      }

#center {
            width: 50%;
            height: auto;
            float: left;
            padding: 50px;
            min-height: 750px;
          }

#navigation {
              width: 100%;
              height: auto;
              float: left;
              padding: 50px;
}

#names div.eq {
    padding: 5px;
    font-size: 18px;
    float: right;
}


#center div.eq_title {
    padding: 5px;
    font-size: 52px;
}

#center div.eq {
    padding: 5px;
    font-size: 32px;
}


#navigation div.eq {
    padding: 20px 2px 20px 2px;
    font-size: 34px;
    width: auto;
    height: 25%;
    cursor:pointer;
    min-height: 150px;
    /*border: 0.1px solid #ffffff;*/
}

#center img {
    padding: 40px 0px 0px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
}

#names img {
    padding: 15px;
    display: block;
    margin-left: auto;
    width: 25%;
    height: auto;
}

#navigation img {
    padding: 5px 10px 5px 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: auto;
}
