/* responsive */

* {
    box-sizing: border-box;
}

.once { clear: left; }
.clL { clear: left; }

.top {
    min-height: 30px;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 0px 0px 0px 0px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/* style */

a:link {
    color: white;
    font-size:60%;
    background-color: transparent;
    font-style: italic;
    text-decoration: none;
    }

a:visited {
    text-decoration: none;
}

/* structure */

body {
    background: #000000;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}


#header {
    width: 100%;
    height: auto;
    padding-top: 5vh;
    padding-left: 6.5vw;
    padding-bottom: 1vh;
}

.header {
    width: 80%;
}


#navigation {
              width: 100%;
              height: auto;
              float: left;
}


#main img {
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-bottom: 12vh;
}


#img-main{
    -webkit-transition: src 2s ease-in-out;
    transition: src 2s ease-in-out;
}

#navigation div.col-3 {
    cursor:pointer;
}



/* places */

.places {
    list-style-type: none;
    padding: 0;
    text-align: center;
    display: block;
}

.places span:hover {
    cursor: pointer
}

.places span {
    border: none;
    display: inline-block;
    position: relative;
    color:white;
    width: 100%;
    height: 10vh;
}

.places span.e3 {
    background:url('navigation/e3.png');
    background-repeat: no-repeat;
    background-size: 20vw 7.184vw;
    background-position: center;
    padding-bottom : 20vh;
}

.places span.s2e1 {
    background:url('navigation/s2e1.png');
    background-repeat: no-repeat;
    background-size: 30vw 7.375vw;
    background-position: center;
    padding-bottom : 20vh;
}


.places span.h2e1 {
    background-image:url('navigation/h2e1.png');
    background-repeat: no-repeat;
    background-size: 30vw 7.375vw;
    background-position: center;
    padding-bottom : 20vh;
}

.places span.s3 {
    background:url('navigation/s3.png');
    background-repeat: no-repeat;
    background-size: 20vw 7.184vw;
    background-position: center;
    padding-bottom : 20vh;
}

.places span:hover,
.places span.enabled {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -webkit-transform: translateY(-3px)
}


@media screen and (max-width: 480px) {
    .places span.s3 {
        font-size : 3vw;
    }
    .places span.h2e1 {
        font-size : 3vw;
    }
    .places span.s2e1 {
        font-size : 3vw;
    }
    .places span.e3 {
        font-size : 3vw;
    }
}

